/* colors
  blueish: #749997
  greyish: #7C8B99
  brick: #998584
  brownish: #998565
  greenish: #6D997E
*/

.app {
  width: 100vw;
  padding: 1% 1% 1% 1%;
  margin: auto;
  height: 100vh;
  overflow-y: scroll;
  background-color: #EAEDED;
}

.app::-webkit-scrollbar {
  display: none;
}